---

- name: Set SSH Banner in sshd_config (RHEL 8)
  lineinfile:
    path: /etc/ssh/sshd_config
    regexp: '^#?Banner'
    line: 'Banner /etc/issue.net'
    state: present
  when: ansible_distribution_major_version == "8"
  notify: restart_ssh_client


- name: Ensure sshd_config.d directory exists (RHEL 9)
  file:
    path: /etc/ssh/sshd_config.d
    state: directory
    owner: root
    group: root
    mode: '0755'
  when: ansible_distribution_major_version == "9"

- name: Set SSH Banner via drop-in config (RHEL 9)
  copy:
    dest: /etc/ssh/sshd_config.d/99-banner.conf
    content: |
      Banner /etc/issue.net
    owner: root
    group: root
    mode: '0644'
  when: ansible_distribution_major_version == "9"
  notify: restart_ssh_client


- name: Set SELinux to permissive mode
  selinux:
    policy: targeted
    state: permissive
  ignore_errors: true


- name: Check if firewalld is installed
  command: which firewall-cmd
  register: firewalld_installed
  ignore_errors: true
  changed_when: false

- name: Stop and disable firewalld
  systemd:
    name: firewalld
    state: stopped
    enabled: no
  when: firewalld_installed.rc == 0
  ignore_errors: true


- name: Ensure en_US.UTF-8 locale is generated
  command: localedef -i en_US -f UTF-8 en_US.UTF-8
  changed_when: false
  ignore_errors: true

- name: Set system locale to en_US.UTF-8
  command: localectl set-locale LANG=en_US.UTF-8
  changed_when: false


- name: Install chrony
  package:
    name: chrony
    state: present

- name: Set primary NTP server in chrony
  lineinfile:
    path: /etc/chrony.conf
    regexp: '^(server|pool)\s+'
    line: "server {{ ntp_primary }} iburst"
    insertafter: '^#.*server'
  register: ntp_primary_config

- name: Set fallback NTP server in chrony
  lineinfile:
    path: /etc/chrony.conf
    regexp: '^server\s+{{ ntp_fallback }}'
    line: "server {{ ntp_fallback }} iburst"
    insertafter: '^server\s+{{ ntp_primary }}'
  register: ntp_fallback_config

- name: Restart chronyd
  systemd:
    name: chronyd
    state: restarted
    enabled: yes
  when: ntp_primary_config.changed or ntp_fallback_config.changed

- name: Enable NTP synchronization
  command: timedatectl set-ntp true
  changed_when: false


- name: Add transparent_hugepage=never to GRUB cmdline (RHEL)
  lineinfile:
    path: /etc/default/grub
    regexp: '^(GRUB_CMDLINE_LINUX="(?!.*transparent_hugepage=never)[^"]*)"'
    line: '\1 transparent_hugepage=never"'
    backrefs: yes
  register: grub_thp_rhel

- name: Check if system uses UEFI
  stat:
    path: /sys/firmware/efi
  register: efi_check
  when: grub_thp_rhel.changed

- name: Update GRUB - BIOS (RHEL)
  command: grub2-mkconfig -o /boot/grub2/grub.cfg
  when: grub_thp_rhel.changed and not efi_check.stat.exists

- name: Update GRUB - UEFI (RHEL)
  command: grub2-mkconfig -o /boot/efi/EFI/redhat/grub.cfg
  when: grub_thp_rhel.changed and efi_check.stat.exists



