---

- name: Deploy issue.net file
  copy:
    src: issue.net
    dest: /etc/issue.net
    owner: root
    group: root
    mode: '0644'
    backup: yes

- name: Set SSH Banner in sshd_config (RHEL 8)
  lineinfile:
    path: /etc/ssh/sshd_config
    regexp: '^#?Banner'
    line: 'Banner /etc/issue.net'
    state: present
  when: ansible_distribution_major_version == "8"
  notify: restart_ssh_client

- name: Ensure sshd_config.d directory exists (RHEL 9)
  file:
    path: /etc/ssh/sshd_config.d
    state: directory
    owner: root
    group: root
    mode: '0755'
  when: ansible_distribution_major_version == "9"

- name: Set SSH Banner via drop-in config (RHEL 9)
  copy:
    dest: /etc/ssh/sshd_config.d/99-banner.conf
    content: |
      Banner /etc/issue.net
    owner: root
    group: root
    mode: '0644'
  when: ansible_distribution_major_version == "9"
  notify: restart_ssh_client


- name: Set SELinux to permissive mode
  selinux:
    policy: targeted
    state: permissive
  ignore_errors: true

- name: Check if firewalld is installed
  command: which firewall-cmd
  register: firewalld_installed
  ignore_errors: true
  changed_when: false

- name: Stop and disable firewalld
  systemd:
    name: firewalld
    state: stopped
    enabled: no
  when: firewalld_installed.rc == 0
  ignore_errors: true


- name: Ensure en_US.UTF-8 locale is generated
  command: localedef -i en_US -f UTF-8 en_US.UTF-8
  changed_when: false
  ignore_errors: true

- name: Set system locale to en_US.UTF-8
  command: localectl set-locale LANG=en_US.UTF-8
  changed_when: false


- name: Install chrony
  package:
    name: chrony
    state: present

- name: Set primary NTP server in chrony
  lineinfile:
    path: /etc/chrony.conf
    regexp: '^(server|pool)\s+'
    line: "server {{ ntp_primary }} iburst"
    insertafter: '^#.*server'
  notify: restart_chronyd

- name: Set fallback NTP server in chrony
  lineinfile:
    path: /etc/chrony.conf
    regexp: '^server\s+{{ ntp_fallback }}'
    line: "server {{ ntp_fallback }} iburst"
    insertafter: '^server\s+{{ ntp_primary }}'
  notify: restart_chronyd

- name: Enable NTP synchronization
  command: timedatectl set-ntp true
  changed_when: false


- name: Deploy MySQL system limits to limits.d
  copy:
    dest: /etc/security/limits.d/99-mysql.conf
    content: |
      mysql soft nofile  65535
      mysql hard nofile  65535
      mysql soft nproc   65535
      mysql hard nproc   65535
      mysql soft memlock unlimited
      mysql hard memlock unlimited
    owner: root
    group: root
    mode: '0644'


- name: Disable Transparent Huge Pages - enabled 
  shell: echo never > /sys/kernel/mm/transparent_hugepage/enabled
  changed_when: false

- name: Disable Transparent Huge Pages - defrag 
  shell: echo never > /sys/kernel/mm/transparent_hugepage/defrag
  changed_when: false


- name: Apply kernel parameters via sysctl
  sysctl:
    name: "{{ item.name }}"
    value: "{{ item.value }}"
    state: present
    sysctl_file: /etc/sysctl.d/99-01-os-preconfigure.conf
    reload: yes
  loop: "{{ sysctl_params }}"
  loop_control:
    label: "{{ item.name }}"


- name: Add transparent_hugepage=never to GRUB cmdline (RHEL)
  lineinfile:
    path: /etc/default/grub
    regexp: '^(GRUB_CMDLINE_LINUX="(?!.*transparent_hugepage=never)[^"]*)"'
    line: '\1 transparent_hugepage=never"'
    backrefs: yes
  register: grub_thp_rhel

- name: Check if system uses UEFI
  stat:
    path: /sys/firmware/efi
  register: efi_check
  when: grub_thp_rhel.changed

- name: Update GRUB - BIOS 
  command: grub2-mkconfig -o /boot/grub2/grub.cfg
  when: grub_thp_rhel.changed and not efi_check.stat.exists

- name: Update GRUB - UEFI 
  command: grub2-mkconfig -o /boot/efi/EFI/redhat/grub.cfg
  when: grub_thp_rhel.changed and efi_check.stat.exists
